<% if flash.notice %>
  <p class="notice"> <%= flash.notice %></p>
<% end %>

<h1>Editing Book</h1>

<%= form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this book from being saved:</h2>
      <ul>
      <% @note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class:"book_title" %>
  </div>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body, class:"book_body" %>
  </div>
  <div class="actions"><%= f.submit 'Update Book' %></div>
<% end %>


<a><%= link_to "Show", note_path(@note.id), class:"show_#{@note.id}" %></a>

 |
<a><%= link_to "Back", notes_path, class:"back" %></a>
